.pad-bottom {
  padding-bottom: 10px
}

.pad-left {
  margin-top: 10px;
}

.pod-not-ready {
  color: #bd6506;
}

.medium-text {
  font-size: 90%;
  font-weight: 400;
}

.stick-panel {
  z-index: 12;
  top: 59px;
  position: sticky;
}
